.DS_Store
.env
bin/
dist/
configs/*.pem
!configs/*.example.pem
configs/mounts/*.json
!configs/mounts/*.example.json
node_modules/
apps/web/dist/
data/
apps/api/data/
apps/api/**/data/
apps/api/.cache/
*.log


.cache/
